<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INI INDEX</h1>
    <P>ke halaman kontak</P>
    <a href="/contact">contactx</a>
    <a href="/todos-list">todos</a>
    <a href="/todos">todos-json</a>
    <a href="/todos-page">todos-page</a>
</body>
</html>